@using ShopAnalyse.OP.Lib
@using ShopAnalyse.OP.Lib.Secret
@using ShopAnalyse.OP.Models
@{
    Layout = null;
    //var logoImgPath = "/business/metronic/assets/admin/layout/img/logo.png";
    //var logoImgPath = "http://img.huimaiche.com/op/images/logo_op_150x30.png";
    //var customLogo = ConfigHelper.GetConfigString("LogoImgPath");
    //if (!string.IsNullOrWhiteSpace(customLogo))
    //{
    //    logoImgPath = customLogo;
    //}
}

<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@(ViewBag.Title)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />*@
    <link href="/business/metronic/assets/fonts/font.css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/business/metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    @*<link href="/business/metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />*@
    <link href="/business/metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<link href="/business/metronic/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />*@
    @*<link href="/business/metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />*@
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="/business/metronic/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" type="text/css" href="/business/metronic/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="/business/metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <link rel="stylesheet" type="text/css" href="/business/metronic/assets/global/plugins/bootstrap-select/bootstrap-select.min.css" />
    <link rel="stylesheet" type="text/css" href="/business/metronic/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/business/metronic/assets/global/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="/business/metronic/assets/global/plugins/jquery-multi-select/css/multi-select.css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="/business/metronic/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="/business/metronic/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/business/metronic/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="/business/metronic/assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css" />
    <link href="/business/metronic/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/mui.css?v=" + BUS.CssVersion)" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <!-- BEGIN PACKAGES STYLES -->
    @*<link href="~/package/artDialog/css/ui-dialog.css" rel="stylesheet" />*@
    <!-- END PACKAGES STYLES -->

    @RenderSection("head_css", required: false)

    <script>
        window.AppPath = '@BUS.AppPath';
    </script>

    @RenderSection("head_scripts", required: false)


</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="#">
                    @{
                        <img src="/business/metronic/assets/admin/layout3/img/logo-default.png" alt="logo" class="logo-default" style="margin-top:12px;" />
                    }
                </a>
                <div class="menu-toggler sidebar-toggler">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            @*<div class="top-menu">
                <ul class="nav navbar-nav pull-right">

                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="/business/metronic/assets/admin/layout/img/hmclogo.png" />
                            <span class="username username-hide-on-mobile">
                                @(ViewBag.OPLoginUserName == null ? "未登录" : ViewBag.OPLoginUserName)
                            </span>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fa fa-angle-down"></i>
                        </a>

                    </li>

                </ul>
            </div>*@
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                @{
                    List<MenuItem> list = MenuHelper.GetUserMenu(); ;
                }
                @Html.Partial("Partial_Sidebar", list)
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                Widget settings form goes here
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn blue">Save changes</button>
                                <button type="button" class="btn default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <!-- BEGIN STYLE CUSTOMIZER -->
                <div class="theme-panel hidden-xs hidden-sm">
                    <div class="toggler">
                    </div>
                    <div class="toggler-close">
                    </div>
                    <div class="theme-options">

                        <div class="theme-option">
                            <span>
                                风格
                            </span>
                            <select class="layout-style-option form-control input-sm">
                                <option value="square" selected="selected">默认</option>
                                <option value="rounded">圆角</option>
                            </select>
                        </div>

                    </div>
                </div>
                <!-- END STYLE CUSTOMIZER -->
                @RenderBody()

            </div>
        </div>
        <!-- END CONTENT -->

    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            2017 &copy; Metronic by keenthemes.
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="/business/metronic/assets/global/plugins/respond.min.js"></script>
    <script src="/business/metronic/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="/business/metronic/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/business/metronic/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="/business/metronic/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/business/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/business/metronic/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="/business/metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/business/metronic/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/business/metronic/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="/business/metronic/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="/business/metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="/business/metronic/assets/global/plugins/bootstrap-daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="/business/metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script type="text/javascript" src="/business/metronic/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/business/metronic/assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>

    <script type="text/javascript" src="/business/metronic/assets/global/plugins/fuelux/js/spinner.min.js"></script>
    <script type="text/javascript" src="/business/metronic/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/business/metronic/assets/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="/business/metronic/assets/global/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>

    <script type="text/javascript" src="/business/metronic/assets/global/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="/business/metronic/assets/global/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="/business/metronic/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src="/business/metronic/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="/business/metronic/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    @*<script src="/business/metronic/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>*@
    @*<script src="/business/metronic/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>*@
    <!-- START package PLUGINS -->
    @*<script src="~/package/artDialog/dist/dialog-min.js"></script>
    <script src="~/package/artDialog/dist/dialog-plus-min.js"></script>
    <script src="~/package/jquery.validate.min.js"></script>
    <script src="~/package/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/package/jquery.unobtrusive-ajax.min.js"></script>*@
    <script src="@Url.Content("~/js/bus.js?v=" + BUS.JsVersion)"></script>
    <script src="@Url.Content("~/js/mui.js?v=" + BUS.JsVersion)"></script>
    <!-- END package PLUGINS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            //QuickSidebar.init(); // init quick sidebar
            //Demo.init(); // init demo features
            mui.init();//init the mui control and layout
        });
    </script>
    <!-- END JAVASCRIPTS -->
    @RenderSection("footer_scripts", required: false)

</body>
<!-- END BODY -->
</html>